@model IntegradorP.Models.Reserva

@{
    ViewData["Title"] = "Comprobante";
}

<div class="container">
    <h1 class="text-dark">Baucher de la reserva</h1>
    <hr class="border-dark" />

    <div>
        <h4 class="text-dark">REIZICANCHAS</h4>
        <hr class="border-dark" />
        <dl class="row">
            <dt class="col-sm-2 text-dark">
                Codigo de la reserva
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReservaId)
            </dd>   
<dt class="col-sm-2 text-dark">
    Fecha de la reserva
</dt>
<dd class="col-sm-10">
    @if (Model.Fecha != null)
    {
        @Model.Fecha.Value.ToShortDateString()
    }
    else
    {
        @:N/A
    }
</dd>
            <dt class="col-sm-2 text-dark">
                Hora de inicio
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HoraInicio)
            </dd>
            <dt class="col-sm-2 text-dark">
                Hora de fin
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HoraFin)
            </dd>
            <dt class="col-sm-2 text-dark">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>
            <dt class="col-sm-2 text-dark">
                @Html.DisplayNameFor(model => model.Instalacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Instalacion.NombreIns)
            </dd>
            <dt class="col-sm-2 text-dark">
               Cedula
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Usuario.CedulaUsu)
            </dd>

            <dt class="col-sm-2 text-dark">
                Recursos reservados
            </dt>
            <dd class="col-sm-10">
                @if (Model.ReservaRecursos != null && Model.ReservaRecursos.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Recurso</th>
                                <th>Cantidad</th>
                                <th>Valor total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var reservaRecurso in Model.ReservaRecursos)
                            {
                                <tr>
                                    <td>@reservaRecurso.Recurso.NombreRec</td>
                                    <td>@reservaRecurso.Cantidad</td>
                                    <td>@reservaRecurso.ValorTotalRecurso</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No se reservaron recursos.</p>
                }
            </dd>
            <dt class="col-sm-2 text-dark">
                Valor total de la reserva
            </dt>
            <dd class="col-sm-10">
                @(Model.ReservaRecursos.Sum(rr => rr.ValorTotalRecurso) + Model.Precio)
            </dd>
        </dl>
    </div>
    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model?.ReservaId" class="btn btn-dark">Editar la reserva</a>
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
        
    </div>

</div>


