@model IntegradorP.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instalacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instalacion.InstalacionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
        
        <dt class = "col-sm-2">
            Recursos reservados
        </dt>
        <dd class = "col-sm-10">
            @if (Model.ReservaRecursos != null && Model.ReservaRecursos.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Recurso</th>
                            <th>Cantidad</th>
                            <th>Valor total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reservaRecurso in Model.ReservaRecursos)
                        {
                            <tr>
                                <td>@reservaRecurso.Recurso.NombreRec</td> <!-- Asegúrate de que tu modelo Recurso tenga una propiedad Nombre -->
                                <td>@reservaRecurso.Cantidad</td>
                                <td>@reservaRecurso.ValorTotalRecurso</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No se reservaron recursos.</p>
            }
        </dd>
         <dt class = "col-sm-2">
            Valor total de la reserva
        </dt>
        <dd class = "col-sm-10">
            @(Model.ReservaRecursos.Sum(rr => rr.ValorTotalRecurso) + Model.Precio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReservaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>