@model IEnumerable<IntegradorP.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Mis Reservas </h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear reserva </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Fecha de la reserva")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFin)
            </th>
            <th>
                @Html.DisplayName("Correo")
            </th>
            <th>
                @Html.DisplayName("Cédula")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Fecha.HasValue)
                    {
                        @item.Fecha.Value.ToShortDateString()
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraFin)
                </td>
                <td>
                    @if (item.Usuario != null)
                    {
                        @Html.DisplayFor(modelItem => item.Usuario.EmailUsu)
                    }
                </td>
                <td>
                    @if (item.Usuario != null)
                    {
                        @Html.DisplayFor(modelItem => item.Usuario.CedulaUsu)
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservaId" class="btn btn-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ReservaId" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.ReservaId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
